.main-deck-page{

    background-color: var(--main-color);
    height: 100vh;
    width: 100%;
    padding: .7rem;
}
.a-back img{
    width: 40px;
    height: 40px;
    margin: .5rem 0;
}

.main-deck-page h1{
    text-align: center;
    padding: 1rem;
font-size: 8vw;
}

.img{
    max-width:100% ;
}


.btns-deck{
    width: 100%;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
 
}

.btn-study{
    width: 130px;
    height: 40px;
    font-size: 0.8rem;
    background-color: var(--main-color);
    border: 4px solid white;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}

.btn-add{
    width: 130px;
    height: 40px;
    font-size: 0.8rem;
    background-color: var(--main-color);
    border: 4px solid white;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}

.deck-info-v{
   
    border: 3px solid white;
    border-radius: 1rem;
    padding: .5rem
}


.content-deck{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.btns-deck *:hover{
     cursor: pointer;
     background-color: white;
     color: var(--main-color);

}

.pre{
    white-space:pre;
    height: 100px;
    text-wrap: wrap;
}

.front-content-card {
    padding: .7rem;
    width: calc(100% - 8px);
}

 .text-p {
    white-space: pre-wrap;
    color: blueviolet;
    font-size: 16px;
    /* Otros estilos personalizados */
}

@media screen and (min-width:450px) {
    
    
.a-back img{
    width: 50px;
    height: 50px;
    margin: .5rem 0;
}

.main-deck-page h1{
    text-align: center;
    padding: 1rem;
font-size: 5vw;
}


.btn-study{
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--main-color);
    border: 4px solid white;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}

.btn-add{
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--main-color);
    border: 4px solid white;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}

.deck-info-v{
   
    border: 3px solid white;
    border-radius: 1rem;
    padding: .5rem;
    width: 70%;
   margin: 0 auto;
}

.btns-deck{
    width: 50%;
    margin: 0 auto;
}

}