.loader-component{
    background-color: var(--main-color);
position: fixed;
top: 0;
left: 0;
right: 0%;
bottom: 0%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
}

.loader-component img{
    fill: red;
    width: 90px;
    height: 90px;
}